{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Case Detail</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Case Information</h5>
            <dl class="row">
                <dt class="col-sm-4">Case ID:</dt>
                <dd class="col-sm-8">{{ case.case_id }}</dd>

                {% if case.previous_case_number %}
                    <dt class="col-sm-4">Previous Case Number:</dt>
                    <dd class="col-sm-8">{{ case.previous_case_number }}</dd>
                {% endif %}

                <dt class="col-sm-4">Assigned To:</dt>
                <dd class="col-sm-8">{{ case.assigned_to|default:"N/A" }}</dd>

                <dt class="col-sm-4">Assault Type:</dt>
                <dd class="col-sm-8">{{ case.assault_type|default:"N/A" }}</dd>

                <dt class="col-sm-4">Cleaned Assault Type:</dt>
                <dd class="col-sm-8">{{ case.cleaned_assault_type|default:"N/A" }}</dd>

                <dt class="col-sm-4">Date of Case Reporting:</dt>
                <dd class="col-sm-8">{{ case.date_of_case_reporting }}</dd>

                <dt class="col-sm-4">Date of Intake:</dt>
                <dd class="col-sm-8">{{ case.date_of_case_intake }}</dd>

                <dt class="col-sm-4">Date of Assignment:</dt>
                <dd class="col-sm-8">{{ case.date_of_case_assignment }}</dd>

                <dt class="col-sm-4">Date of Court Follow-Up:</dt>
                <dd class="col-sm-8">{{ case.date_of_court_followup }}</dd>

                <dt class="col-sm-4">Stage of Case in Court:</dt>
                <dd class="col-sm-8">{{ case.stage_of_case_in_court|default:"N/A" }}</dd>

                <dt class="col-sm-4">Site of Reporting:</dt>
                <dd class="col-sm-8">{{ case.site|default:"N/A" }}</dd>

                <dt class="col-sm-4">Medium of Reporting:</dt>
                <dd class="col-sm-8">{{ case.medium_of_reporting|default:"N/A" }}</dd>

                <dt class="col-sm-4">Survivor Gender:</dt>
                <dd class="col-sm-8">{{ case.survivor_gender }}</dd>

                <dt class="col-sm-4">Survivor Age:</dt>
                <dd class="col-sm-8">{{ case.survivor_age }}</dd>

                <dt class="col-sm-4">Age Group:</dt>
                <dd class="col-sm-8">{{ case.age_group }}</dd>

                <dt class="col-sm-4">County:</dt>
                <dd class="col-sm-8">{{ case.county }}</dd>

                <dt class="col-sm-4">Constituency:</dt>
                <dd class="col-sm-8">{{ case.case_constituency_name }}</dd>

                <dt class="col-sm-4">Ward:</dt>
                <dd class="col-sm-8">{{ case.case_ward_name }}</dd>

                <dt class="col-sm-4">Case Duration (days):</dt>
                <dd class="col-sm-8">{{ case.case_duration_in_days }}</dd>

                <dt class="col-sm-4">Days Since Intake:</dt>
                <dd class="col-sm-8">{{ case.days_since_intake }}</dd>

                <dt class="col-sm-4">Is Case Referred:</dt>
                <dd class="col-sm-8">{{ case.is_case_referred|yesno:"Yes,No" }}</dd>

                <dt class="col-sm-4">Case Still in Court:</dt>
                <dd class="col-sm-8">{{ case.case_still_in_court|yesno:"Yes,No" }}</dd>

                <dt class="col-sm-4">Case Closed:</dt>
                <dd class="col-sm-8">{{ case.case_is_closed|yesno:"Yes,No" }}</dd>
            </dl>

            <div class="mt-4">
                <a href="{% url 'case_update' case.pk %}" class="btn btn-warning btn-lg">Edit Case</a>
                <a href="{% url 'case_delete' case.pk %}" class="btn btn-danger btn-lg">Delete Case</a>
                <a href="{% url 'case_list' %}" class="btn btn-secondary btn-lg">Back to List</a>
                <a href="{% url 'case_pdf' case.pk %}" class="btn btn-primary btn-lg">Download PDF</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
