{% extends 'base.html' %}

{% block title %} G C M{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="dashboard">
        <!-- Buttons aligned on the left -->
        <div class="button-container">
            <a href="{% url 'case_create' %}" class="btn btn-primary" data-short="A">
                <i class="bi bi-database-add"></i><br>Add New Case
            </a>
        
            <a href="{% url 'case_list' %}" class="btn btn-secondary" data-short="V">
                <i class="bi bi-view-list"></i><br>View All Cases
            </a>
        
            <a href="{% url 'upcoming_cases_by_county' %}" class="btn btn-warning" data-short="U">
                <i class="bi bi-calendar-month-fill"></i><br>Upcoming Cases
            </a>
        
            <a href="{% url 'case_analysis' %}" class="btn btn-info" data-short="C">
                <i class="bi bi-bar-chart"></i><br>Case Analysis
            </a>
        </div>
        

        <!-- Upcoming Cases displayed on the right -->
        <div class="upcoming-cases mt-4">
            <h2>Top 10 Upcoming Cases</h2> <!-- Changed from Top 5 to Top 10 -->

            <!-- Search bar for upcoming cases -->
            <form method="GET" action="{% url 'home' %}" class="form-inline mb-4">
                <input type="text" name="q" class="form-control mr-2" placeholder="Search upcoming cases..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Case Number</th>
                        <th>Next Court Date</th>  
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in upcoming_cases %}
                    <tr>
                        <td>{{ case.case_number }}</td>
                        <td>{{ case.next_court_date }}</td>  
                        <td><a href="{% url 'case_detail' case.pk %}" class="btn btn-info btn-sm">View Details</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No upcoming cases</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
