{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gender Case Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Add this in the <head> section of base.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add this in your <head> section of base.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="dashboard-link">
                <img src="{% static 'images/shofco.png' %}" alt="Dashboard" class="dashboard-image">
            </a>
            <!-- Add other navigation items here if needed -->
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </main>
</body>
</html>
